header {
	height: 100vh;
	padding-top: 10rem;
	overflow: hidden;
	background-image: url('../../assets/vitrine.jpeg');
	background-position: center;
	background-position-x: right;
	background-repeat: no-repeat;
	/* background-size: cover; */
	transition: transform 0.3s;
	animation: fromTop 0.7s 0.2s backwards;
}
.header__container {
	/* text-align: center; */
	height: 100%;
	position: relative;
	display: flex;
	direction: column;
}

.header__text {
	/* position: relative; */
	/* top: 190px;
	right: 400px; */
	margin-top: 10rem;
	transition: transform 0.5s;
	animation: fromRight 1s 0.5s backwards;
}
.header__text p {
	color: var(--color-yellow);
	color: var(--color-primary);
	font-size: 5rem;
	font-weight: bold;
}
.ds {
	margin-top: 1.5rem;
	/* display: flex; */
	gap: 1.2rem;
	/* justify-content: left; */
	/* position: relative; */
	top: 20px;
	right: 110px;
}
.header__socials {
	display: flex;
	flex-direction: column;
	margin-top: 8rem;
	/* algn-items: center; */
	gap: 0.8rem;
	/* position: absolute;
	left: 0;
	bottom: 3rem; */
}
.header__socials__img {
	width: 30px;
	height: 30px;
}
.header__socials::after {
	content: '';
	width: 0.06rem;
	height: 2.4rem;
	background: var(--color-primary);
}
.logo {
	background: linear-gradient(var(--color-primary), transparent);
	width: 22rem;
	height: 30rem;
	position: absolute;
	left: calc(50% - 11rem);
	/* left: 50%;
	transform: translateX(-50%); */
	margin-top: 4rem;
	border-radius: 12rem 12rem 0 0;
	overflow: hidden;
	padding: 5rem 1.5rem 1.5rem 1.5rem;
	transition: transform 0.3s;
	animation: fromTop 0.7s 0.2s backwards;
}
.scroll__down {
	position: absolute;
	right: -2.3rem;
	bottom: 5rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 1.1rem;
}
//MEDIUM DEVICES
@media screen and (max-width: 1024px) {
	.header {
		height: 68vh;
	}
}

//SMALL DEVICES
@media screen and (max-width: 600px) {
	.header {
		height: 100vh;
	}
	.header__socials,
	.scroll__down {
		display: none;
	}
}

@keyframes fromTop {
	from {
		opacity: 0;
		transform: translateY(-2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fromBottom {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fromRight {
	from {
		opacity: 0;
		transform: translateX(-2rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
